.blue {
    background-color: #2196f3 !color;
}
.blue.lighten-1 {
    background-color: #42A5F5 !important;
}
.blue.lighten-2 {
    background-color: #64B5F6 !important;
}
.blue.lighten-3 {
    background-color: #90CAF9 !important;
}
.blue.lighten-4 {
    background-color: #BBDEFB !important;
}
.blue.lighten-5 {
    background-color: #E3F2FD !important;
}
.blue.darken-1 {
    background-color: #1E88E5 !important;
}
.blue.darken-2 {
    background-color: #1976D2 !important;
}
.blue.darken-3 {
    background-color: #1565C0 !important;
}
.blue.darken-4 {
    background-color: #0D47A1 !important;
}
.white-text {
    color: #fff !important;
}
.blue-lighten-3-text {
    color: #90CAF9 !important;
}
.blue-dark-1-text {
    color: #3c8dbc !important;
}
.red-lighten-3-text {
    color: #eb212e !important;
}
.green-dark-1-text {
    color: #00a65a !important;
}
.green-dark-1 {
    background-color: #00a65a !important;
}
.btn-recarga {
	width: 100% !important;
    font-size: 1rem !important;
	margin: 0 0 5px 5px;
	min-width: 50px;
}
.btn-recarga:hover {
    background: #ddd;
    color: #444;
    border-color: #ddd;
}
.btn-recarga-active {
    background: #ddd;
    color: #444;
    border-color: #ddd;
}
.contact-item {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 9px;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: -19px;
}

.contact-wrapper {
	padding-top: 10px;
	padding-right: 10px
}

.contact-pre-item {
	padding-right: 17px;
}
.cuba-flag {
	height: 4rem;
}
.contact-name {
	font-size: 1.5rem;
    text-transform: uppercase;
}
/*@media screen and (min-width: 768px) {
    .contact-name {
        margin-left: 15px;
    }
	.contact-phone {
        margin-left: 15px;
    }
    .btn-repeate {
    	font-size: 1rem;
    }
}*/

@media screen and (max-width: 768px) {
    .btn-repeate {
    	margin-top: 5px;
    }
    .item-select {
    	margin-top: 5px;
    }
    .arrow-right-white-sm:after {
	    display: none !important;
	}
    .contact-pre-item {
		padding-right: 15px !important;
	}
    .contact-add-form {
        margin-left: 6px !important;
        margin-right: -3px !important;
    }
    .wizard-steps .wizard-step-number {
        top: -13px !important;
    }
    .applicant-payment-total {
        margin-left: 0px !important;
    }
    #contactExpiredDateYear {
        margin-top: 0px !important;
    }
    .loading-container {
        text-align: center !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    .arrow-right-white-sm:after {
	    display: none !important;
	}
    .contact-add-form {
        margin-left: 6px !important;
        margin-right: -3px !important;
    }
    .wizard-steps .wizard-step-number {
        top: 13px !important;
    }
    .loading-container {
        text-align: center !important;
    }
}

@media (min-width: 992px) and (max-width: 1170px) { 
	.contact-name {
        margin-left: 15px;
    }
	.contact-phone {
        margin-left: 15px;
    }
    .btn-repeate {
    	font-size: 1rem;
    }
    .loading-container .loading-text {
       margin-left: 15px;
    }
}

@media screen and (min-width: 1200px)  { 

}

.skin-blue .main-header .navbar {
    background-color: #42A5F5 !important;
}
.skin-blue .main-header .logo {
    background-color: #399bd4;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.arrow-right-white-sm:after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-right: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #ddd;
    position: absolute;
    top: 50%;
    right: -21px;
    margin-top: -15px;
}
.btn-nueva-recarga i {
    font-size: 3rem !important;
}
.btn-fre-recarga {
	line-height: 30px;
}
.btn-app {
    padding: 10px 5px !important;
}
.btn-saldo {
    border: solid 1px #fff;
    border-radius: 30px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    top: 6px;
}

.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border: solid 1px #ddd;
    border-radius: 3px;
}
.dark2-text {
    color: #666;
}
.contact-add-form {
    margin-left: 10px;
    margin-right: 10px;
}
.b-n {
    border: none;
}
.btn-blue-dark {
    background-color: #3c8dbc !important;
    border: none;
    color: #fff;
}
.btn-blue-dark:hover {
    background-color: #42A5F5 !important;
    color: #fff;
}
.btn-green {
    background-color: #00a65a !important;
    border: none;
    color: #fff;
}
.btn-green:hover {
    background-color: #6cc985 !important;
    color: #fff;
}
.btn-green-circle {
    background-color: #ddd !important;
    border: none;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.btn-green-circle:hover {
    background-color: #eb212e !important;
    color: #fff;
}
.btn-remove-fre-recarga {
    position: absolute;
    top: -8px;
    right: -8px;
}
.btn-remove-fre-recarga button{
    
}
.btn-remove-fre-recarga span {
    position: relative;
    top: -5px;
    left: -3px;
}
.title-wizard .wizard-step-number {
    width: 25px;
    height: 25px;
    background-color: #00a65a;
    color: #fff;
    border-radius: 50%;
    position: absolute;   
    top: -2px;
}
.title-wizard .wizard-step-number span{
    position: relative;
    left: 9px;
    top: 1px;
    font-size: 1.5rem;
    font-weight: 500;
}
.title-wizard .wizard-step-name {
    color: #3c8dbc;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    /*margin-left: 35px;*/
}
.title-wizard {
    margin-bottom: 15px;
}
.bs-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #3c8dbc;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Persona a recargar";
}
.bs-wizard {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border: solid 1px #ddd;
    border-radius: 3px;
}
.wizard-item {
    padding-right: 17px;
}
.wizard-content {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 9px;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: -19px;
}

.wizard-footer{
    margin-right: -33px;
    margin-left: -9px;
}
.wizard-steps {
    border-bottom: solid 3px #ddd;
    margin-top: 25px;
    margin-bottom: 25px;
}
.wizard-steps .wizard-step-number {
    width: 30px;
    background-color: #00a65a;
    color: #fff;
    border-radius: 49%;
    position: absolute;
    top: 13px;
    padding: 4px;
}
.wizard-steps .wizard-step-number.active{
    background-color: #02562f;
}
.wizard-steps .wizard-step-number span{
    position: relative;
    left: 7px;
    top: 0px;
    font-size: 1.5rem;
    font-weight: 500;
}
.wizard-steps .wizard-step-number.step1{
}
.wizard-steps .wizard-step-number.step4{
    right: 14px;
}
.valor-recarga {
    width: 100%;
    margin-top: 2px;
    padding: 5px;
    text-indent: 4px
}
.applicant-payment {
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.wizard-footer-listing {
    margin-right: -18px;
    margin-left: -9px;
}
.applicant-payment-total {
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 16px;
}
.applicant-payment-total-label {
    margin-top: 4px;
}
.wizard-callout{
    margin-left: 6px;
    margin-right: -3px;
}
.form-group-cupon{
    margin-left: 6px;
    margin-right: -2px;
}
.form-group-pre-reserva {
    margin-left: 6px;
}
.wizard-content.border-blue{
    border: solid 1px #3c8dbc;
}
.wizard-content.border-success{
    border: solid 1px #00a65a;
}
.wizard-content.border-failure{
    border: solid 1px #eb212e;
}
.radio-title {
    font-weight: bold !important;
    text-transform: uppercase;
}
#contactExpiredDateYear {
    margin-top: 5px;
}
.loading-container .loading {
    height: 40px;
    position: relative;
    top: 8px;
}
.loading-container .loading-text {
    font-size: 2rem;
    top: 12px;
    position: relative;
}
.loading-container-success .loading-text{
    font-size: 2rem;
    top: 7px;
    position: relative;
}
.loading-container-failure .loading-text{
    font-size: 2rem;
    top: 7px;
    position: relative;
}
.causas-container {
    margin-top: 15px;
}
.causas-container .causas-number{
    width: 20px;
    height: 20px;
    background-color: #eb212e;
    color: #fff;
    border-radius: 50%;
    position: absolute;
}
.causas-item {
    margin-bottom: 5px;
}
.causas-container .causas-number span.number {
    position: relative;
    left: 6px;
}
.causas-container .causas {
    margin-left: 25px;
}
